@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto');

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  margin: 0 auto;
  background-color: #F8FBFF;
  width:100%;
  height:100vh;
  /* overflow:hidden; */
  overflow-X:hidden;
  display:flex;
}

header{
  position:fixed;
  width:25%;
  height:100%;
  background-image:linear-gradient(to bottom, rgba(28, 120, 228, 0.50), rgba(28, 120, 228, 0.82)), url('img/bg.jpg');
  background-size:cover;
  background-position:center;
  display:flex;
  justify-content:center;
  align-items:center;
  box-shadow: 20px 0px 30px rgba(0, 0, 0, 0.12);
}


header .container{
  width:400px;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  align-items:center;
}

header .container img{
  width:150px;
}

header .container h3{
  color:wheat;
  font-size:14px;
}

header .container select{
  width:300px;
  height:40px;
  border:none;
  font-size: 16px;
  color: #60666d;
  border-radius: 50px;
  padding: 10px 20px;
}

header .container select option {
  margin-top:20px;
  background:#fff;
  cursor: pointer;  
}


main{
  width:100%;
  height: 100%;
  margin-top:100px;
  margin-left:28%;
  display:flex;
  flex-wrap:wrap;
  position:relative;
  align-self:center;
}

.article{
  width:20%;
  margin:80px 40px;
  padding:10px 30px;
  background: #FFFFFF;
  border-radius:10px;
  box-shadow: 5px 15px 30px rgba(0, 0, 0, 0.2);
  position:relative;
}

.article img{
  width:100%;
  height:200px;
  border-radius:10px;
  box-shadow: 5px 15px 30px rgba(0, 0, 0, 0.2);
  position:absolute;
  top:-100px;
  left:30px;
  
}

.article .details{
  padding-top:100px;
}

.article .details h2{
  font-weight:bold;
  font-size:20px;
}

.article .details p{
  font-size:14px;
  color: rgba(0, 0, 0, 0.6);
  letter-spacing:1px;
  margin-bottom:60px;
}

.article .details a{
  color:#F8FBFF;
  font-size:14px;
  font-weight:bold;
  letter-spacing:1.2px;
  padding:10px 20px;
  border-radius:50px;
  float:right;
  text-decoration:none;
  background:rgb(0, 110, 255);
  position:absolute;
  right:15px;
  bottom:15px;
}


@media only screen and (max-width: 768px) {
  /* For mobile phones: */

body {
  display:flex;
  flex-direction:column;
}


header{
  position:fixed;
  width:100%;
  height:25%;
  background-image:linear-gradient(to bottom, rgba(28, 120, 228, 0.50), rgba(28, 120, 228, 0.82)), url('img/bg.jpg');
  background-size:cover;
  background-position:center;
  display:flex;
  justify-content:center;
  align-items:center;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.12);
  z-index:998;
}

header .container img{
  text-align:center;
  width:60%;
}

header .container select{
  width:300px;
  height:40px;
  border:none;
  border-radius: 50px;
  padding: 10px 20px;
}

main{
  width:100%;
  height: 100%;
  margin-top:210px;
  margin-left:0px;
  margin-right:0px;
  display:flex;
  flex-wrap:wrap;
  position:relative;
  justify-content:center;
}

.article{
  width:280px;
  margin:30px 0px;
  padding:10px 30px;
  background: #FFFFFF;
  border-radius:10px;
  box-shadow: 5px 15px 30px rgba(0, 0, 0, 0.2);
  position:relative;
  display:flex;
  flex-direction:column;
}

.article img{
  width:100%;
  height:200px;
  border-radius:10px;
  box-shadow: 5px 15px 30px rgba(0, 0, 0, 0.2);
  position:absolute;
  top:-30px;
  left:0px;
  align-self:center;
}

.article .details{
  padding-top:180px;
}

.article .details h2{
  font-weight:bold;
  font-size:20px;
}

.article .details p{
  font-size:14px;
  color: rgba(0, 0, 0, 0.6);
  letter-spacing:1px;
}

.article .details a{
  color:#F8FBFF;
  font-size:14px;
  font-weight:bold;
  letter-spacing:1.2px;
  padding:10px 20px;
  border-radius:50px;
  text-align:center;
  text-decoration:none;
  background:rgb(0, 110, 255);
}
}